.eliminar-carta,
.eliminar-emocion,
.eliminar-usuario {
  position: absolute;
  right: -30px;
  top: 0;
  background: none;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.eliminar-emocion {
  right: -50px;
}

.editar-carta,
.editar-emocion,
.editar-usuario {
  position: absolute;
  right: -30px;
  top: 40px;
  background: none;
  border: none;
  color: #0f0f16;
  font-size: 1.2rem;
  cursor: pointer;
}

.eliminar-usuario {
  top: 16px;
  right: 16px;
}

.editar-usuario {
  top: 60px;
  right: 16px;
}

.editar-emocion {
  right: -50px;
}

#admin-main {
  background-image: url("../images/admin.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usuario-card {
  display: flex;
  background-color: #85598823;
  position: relative;
  border-radius: 25px;
  width: 600px;
  align-items: center;
}

.usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 25px;
  color: white;
}

.informacion-usuario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #855988;
  font-size: 20px;
}

.foto-perfil {
  border-radius: 50%;
  width: 100px;
}

#cartas-main,
#emociones-main {
  background-image: url("../images/patron-estrellas.webp");
  background-repeat: repeat;
  padding: 80px 0px;
}

#admin-titulo-section {
  font-size: 30px;
  color: #855988;
}

.carta:hover,
.emocion:hover {
  transform: none;
}

.admin-section {
  background-color: rgba(15, 15, 22, 0.9);
  border: 10px groove var(--color-lila);
  border-radius: 25px;
  margin: 0 auto;
  width: 1400px;
  max-width: 100%;
  min-height: 100vh;
  padding: 40px;
  margin: 50px 0;
}

.cartas-emociones-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  width: 1400px;
  max-width: 100%;
}

#cartas-contenedor,
#emociones-contenedor,
#usuarios-contenedor {
  display: none;
}

#cartas-contenedor.activo,
#emociones-contenedor.activo,
#usuarios-contenedor.activo {
  display: flex;
}

#emociones-contenedor.activo,
#usuarios-contenedor.activo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#usuarios-contenedor.activo {
  gap: 40px;
  border-radius: 25px;
  background-color: #0f0f16;
  padding: 30px;
  margin-top: 30px;
}

.acciones-contenedor {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.acciones-contenedor button {
  border: none;
  font-size: 20px;
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #855988;
  color: white;
  cursor: pointer;
  width: 150px;
  font-family: "Raleway", sans-serif;
}

.popup {
  display: none;
}

.popup.activo {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: #855988 4px solid;
  background-color: #0f0f16;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.popup.activo h2 {
  color: #855988;
  text-align: center;
}

.popup.activo span {
  color: white;
  text-align: center;
}

.popup.activo .confirmaciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.popup.activo button {
  padding: 6px 10px;
  background-color: #855988;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.popup.edicion {
  height: 900px;
  width: 400px;
  border-radius: 16px;
  position: fixed;
  background-color: rgb(37, 21, 48);
}

.popup.edicion form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 16px;
}

.popup.edicion form label {
  font-size: 20px;
  text-align: center;
}

.popup.edicion form input,
.popup.edicion form select {
  height: 40px;
  font-size: 20px;
  padding: 16px 10px;
  color: white;
  width: 80%;
  background-color: #0f0f16;
  border-radius: 10px;
  border: 2px solid #855988;
}
.popup.edicion form select {
  padding: 0;
}

.popup.edicion form div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup.edicion p {
  font-size: 40px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.popup-edicion-emociones.popup.activo {
  height: 500px;
}
.popup-edicion-usuarios.popup.activo {
  height: 400px;
}
