:root {
  --color-lila: #855988;
  --color-lila-oscuro: #6B4984;
  --color-purpura: #483475;
  --color-azul-claro: #2B2F77;
  --color-azul: #141852;
  --color-azul-oscuro: #070B34;
  --color-azul-grisaceo: #0f0f16;
}

body {
    background-image: linear-gradient(rgba(59, 15, 71, 0.521), rgba(0, 0, 0, 0.295)), url(../images/fondo-profile-page.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: repeat;
}



/* ----------- estilo del scrollbar principal -------------*/


body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-azul-grisaceo);
}

body::-webkit-scrollbar-track {
  background: var(--color-azul-grisaceo);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color:var(--color-lila)  ;
  border-radius: 5px;
}


/* ----------------- fondo borroso ----------------- */

.fondo-borroso {
  background: rgba(14, 8, 17, 0.274);
  filter: blur(5px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------------- Perfil ---------------------- */


.container-profile {
    background-color:rgba(11, 1, 24, 0.801);
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 50;
    width: 80%;
    height: 50px;
    border-radius: 75px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.profile-info {
    color: var(--color-lila);
    position: relative;
    bottom: 10px;
    right: 40px;
}

.profile-info h2 img {
    border-radius: 50%;
    float: left;
    width: 145px;
    height: 145px;
    border: 4px solid rgba(11, 1, 24, 0.363);
}

#nombreUsuario {
    background: linear-gradient(to right, var(--color-lila), var(--color-purpura));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.9;
    position: relative;
    top: 20px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* ------------------ cambiar perfil -------------------- */

.container-changePfp {
    position: relative;
    display: inline-block;
}

.changePfp {
    position: relative;
    display: inline-block;
    opacity: 0.7;
    width: 35px;
    height: 35px;
    top: 50px;
    right: 20px;
    border-radius: 50%;
    transition: transform 0.3s;
    cursor: pointer;
}

.changePfp:hover {
    transform: scale(1.1);
}

/* ------------------ modal del perfil -------------------- */

.profileModal {
    position: absolute;
    z-index: 1;
    top: auto;
    background-color: rgba(61, 51, 70, 0);
    overflow: auto;
    display: none;
}

.close-modal-profile {
    color: var(--color-lila);
    font-size: 20px;
    cursor: pointer;
}

.modal-content-profile {
    background-color: rgba(10, 1, 19, 0.884);
    padding: 20px;
    width: 300px;
    height: 260px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 20px;
}

.modal-content-profile h3 {
    color: var(--color-lila);
    text-align: center;
}

/* ---------- scrollbar style modal ----------- */

.modal-content-profile::-webkit-scrollbar {
  width: 8px;
}

.modal-content-profile::-webkit-scrollbar-track {
  background: #1a0b2200;
}

.modal-content-profile::-webkit-scrollbar-thumb {
  background-color: var(--color-lila);
  border-radius: 5px;
}

/* ------------ Icono para cambiar perfil ------------ */

.profile-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-options img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.profile-options img:hover {
    transform: scale(1.1);
}


/* ---------------- Sueños registrados ----------------- */

.container-registers {
    background: linear-gradient(rgba(11, 1, 24, 0.801), rgba(31, 16, 70, 0.5));
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 20px;
}

.registers-info {
    color: rgba(218, 210, 226, 0.849);
    position: relative;
    text-align: left;
    padding: 15px;
    width: 80%;
    min-height: 400px;
    height: auto;
    margin: auto;
    border-radius: 2%; 
}

.registers-info h2 {
    padding-bottom: 10px;
    border-bottom: 4px solid var(--color-lila);
    border-radius: 2%;
}

.registers {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
}

/* ------------ estilos de cada registro --------------- */

.sueno {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffffcc;
    border: 1px solid var(--color-lila);
    text-align: left;
    width: 250px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
}

.sueno:hover {
    transform: scale(1.05);
}

.visibilidad {
    color: var(--color-lila);
}

.icono-candado {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
}

.descripcion {
    color: #ffffffd3;
    opacity: 0.8;
    display: -webkit-box;
    white-space: normal;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 9;
    text-overflow: ellipsis;
}

.fecha {
    color: #ffffffa1;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: right;
    padding-top: 20px;
}

/* ------------------ modal de sueños -------------------- */

.modal {
    backdrop-filter: blur(1px);
}

.modal-content {
    background: linear-gradient(rgba(19, 3, 41, 0.801), rgba(31, 16, 70, 0.5));
    border: 10px;
    border: 1px solid var(--color-lila);
}

.modal-content h3, .modal-content h1 {
    font-size: 30px;
}

.modal-content p {
    font-size: 20px;
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: #1a0b2200;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--color-lila);
  border-radius: 5px;
}

/* ------------- estilo scrollbar registros --------------- */

.registers::-webkit-scrollbar {
    height: 10px;
}

.registers::-webkit-scrollbar-track {
    background: rgba(11, 1, 24, 0.733);
    border-radius: 5px;
}

.registers::-webkit-scrollbar-thumb {
    background-color: rgba(164, 109, 168, 0.733);
    border-radius: 5px;
}


.eliminar-sueno {
  position: absolute;
  right: -30px;
  top: 0;
  background: none;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.editar-sueno {
  position: absolute;
  right: -30px;
  top: 40px;
  background: none;
  border: none;
  color: #0f0f16;
  font-size: 1.2rem;
  cursor: pointer;
}

.popup-eliminar, .popup-editar {
    display: none;
}

.popup-eliminar.activo, .popup-editar.activo{
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: #855988 4px solid;
  background-color: #0f0f16;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}


.popup.activo h2 {
  color: #855988;
  text-align: center;
}

.popup.activo span {
  color: white;
  text-align: center;
}

.popup.activo .confirmaciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.popup.activo button {
  padding: 6px 10px;
  background-color: #855988;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.popup-editar.activo{
    width: 400px;
    height: 500px;
    z-index: 90;
}

#descripcion-editar{
    width: 100%;
    height: 100%;
    resize: none;
    margin-top: 30px
}


.popup-editar form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 16px;
}

.popup-editar.activo form label {
  font-size: 20px;
  text-align: center;
  margin-bottom: -30px;
}

.popup-editar.activo textarea {
  height: 40px;
  font-size: 20px;
  padding: 16px 10px;
  color: white;
  width: 100%;
  background-color: #0f0f16;
  border-radius: 10px;
  border: 2px solid #855988;
}

.popup-editar.activo #publico {
  height: 20px;
  padding: 16px 10px;
  color: white;
  width: 30%;
  background-color: #0f0f16;
  border-radius: 10px;
  border: 2px solid #855988;
  margin-bottom: 20px;
}


.spinner, .mensaje-resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border: 5px solid white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  z-index: 9999;
}

.oculto {
  display: none;
}

.spinner .cargando {
  width: 70px;
  height: 70px;
  animation: girar 1s linear infinite;
  margin-bottom: 15px;
}

.spinner p, .spinner h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: white;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}