<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/styless.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
    <footer>
        <div class="footer-links">
            <div class="footer-logo">
                <a href="inicio.html"><img id="logo-inicio-footer" src="assets/images/logo-footer.webp" alt="Logo"></a>
            </div>
            <div class="footer-redirecciones">
                <ul class="login-register-contenedor">
                    <li><a href="inicio.html">Inicio</a></li>
                    <li><a href="login.html">Iniciar sesión</a></li>
                    <li><a href="register.html">Registrarse</a></li>
                    
                </ul>
            </div>
            <div class="footer-redirecciones">
                <ul>
                    <li><a href="about.html">Sobre Hypnia</a></li>
                    <li><a href="register-dream.html">Registra tu sueño</a></li>
                    <li><a href="social.html">Explora el mundo</a></li>
                </ul>
            </div>
            <div class="footer-redirecciones">
                <ul>
                    <li><a href="cards.html">Cartas</a></li>
                    <li><a href="emotions.html">Emociones</a></li>
                </ul>
                
            </div>
        </div>

        <div class="footer-redes">
            <div class="redes-integrante">
                <h2>Joni:</h2>
                <a href="https://github.com/Jonas-Weimann" target="_blank" rel="noopener noreferrer"><img src="assets/images/logo-github.webp" alt="GitHub"></a>
                <a href="https://www.instagram.com/jonaaasdw" target="_blank" rel="noopener noreferrer"><img src="assets/images/logo-instagram.webp" alt="Instagram"></a>
                <a class="copiar-email" data-email="jweimann@fi.uba.ar"><img src="assets/images/logo-gmail.webp" alt="Gmail"></a>
            </div>
            <div class="redes-integrante">
                <h2>Avril:</h2>
                <a href="https://github.com/yl1w" target="_blank" rel="noopener noreferrer"><img src="assets/images/logo-github.webp" alt="GitHub"></a>
                <a class="copiar-email" data-email="agmamanic@fi.uba.ar"><img src="assets/images/logo-gmail.webp" alt="Gmail"></a>
            </div>
            <div class="redes-integrante">
                <h2>Azu:</h2>
                <a href="https://github.com/angelesazulninaja" target="_blank" rel="noopener noreferrer"><img src="assets/images/logo-github.webp" alt="GitHub"></a>
                <a href="https://www.instagram.com/azul_ninaja" target="_blank" rel="noopener noreferrer"><img src="assets/images/logo-instagram.webp" alt="Instagram"></a>
                <a class="copiar-email" data-email="aninaja@fi.uba.ar"><img src="assets/images/logo-gmail.webp" alt="Gmail"></a>
            </div>
            <div class="redes-integrante">
                <h2>Dai:</h2>
                <a href="https://github.com/daichavez" target="_blank" rel="noopener noreferrer"><img src="assets/images/logo-github.webp" alt="GitHub"></a>
                <a href="https://www.instagram.com/daidaiana00" target="_blank" rel="noopener noreferrer"><img src="assets/images/logo-instagram.webp" alt="Instagram"></a>
                <a class="copiar-email" data-email="dchavez@fi.uba.ar"><img src="assets/images/logo-gmail.webp" alt="Gmail"></a>
            </div>
        </div>
        <div id="mensaje-copiado" class="mensaje-copiado oculto">Correo copiado al portapapeles.</div>
        <p id="footer-texto-final">
            Trabajo práctico para el primer cuatrimestre de 2025 de intro-camejo<br>
            Hecho por Jonas Weimann, Avril Mamani, Azul Ninaja y Daiana Chavez.
        </p>
    </footer>
    </body>
    
</html>