<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assets/css/styless.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="inicio.html">
                <img id="logo-header" src="./assets/images/logo-header.webp" alt="Logo">
            </a>
            <nav class="header-links">
                <ul>
                    <li><a href="login.html">Iniciar sesión</a></li>
                    <li><a href="register.html">Crear cuenta</a></li>
                    <li><a href="cards.html">Cartas</a></li>
				    <li><a href="emotions.html">Emociones</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Sobre Hypnia</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>